.landing-page {
  .logo {
    width: 277px;
    height: 49px;
    margin-left: 50px;
    margin-top: 40px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-right: 16px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }
  .login {
    background-color: black;
    border-color: black;
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    margin-right: 20px;
  }
  .content {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
  }
  .sign-up {
    color: black;
    font-family: "Montserrat";
    font-weight: 600;
    border-radius: 5px;
  }
  .paragraph-button {
    width: 50%;
    .paragraph {
      font-size: 22px;
      color: white;
      font-family: "Montserrat";
    }
  }
  .banner {
    height: 400px;
  }
}
