.login-container {
    background-color: black;
    height: 100vh;

    img {
        margin: 2% auto auto 2%;
    }

    .login-header {
        display: flex;
        justify-content: center;

        h1 {
            color: white;
        }
    }

    .input-container {
        display: flex;
        justify-content: center;

        .input-field {
            margin-bottom: 15%;
        }
    }

    .input-button {
        button {
            width: 100%;
        }
    }
}
