.settings{
    padding: 16px;
  
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      .logo {
        width: 277px;
        height: 49px;
      }
  
      .buttons {
        display: flex;
        flex-direction: row;
        
        .dashboard-button {
            background-color: black;
            border-color: black;
            color: white;
            font-family: "Montserrat";
            font-weight: 600;
            margin-right: 16px;
          }

        .about-button {
            background-color: black;
            border-color: black;
            color: white;
            font-family: "Montserrat";
            font-weight: 600;
            margin-right: 16px;
          }

        .settings-button {
          background-color: black;
          border-color: black;
          color: white;
          font-family: "Montserrat";
          font-weight: 600;
          margin-right: 16px;
        }
  
        .log-out {
            background-color: black;
            border-color: black;
            color: white;
            font-family: "Montserrat";
            font-weight: 600;
            margin-right: 16px;
        }
      }
    }
  
    .account {
      .account-title {
        color: white;
        font-family: "Montserrat";
      }
    }
}

  
  